{% extends "learning_logs/base.html" %}


{% block page_header %}
<h3><a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a></h3>
{% endblock page_header %}

{% block content %}

<div class="container-fluid mb-4">
    <h5 class="card-header">Edit entry</h5>
</div>

<div>
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_div }}
        <button name="submit" class="btn btn-primary btm-lg mt-1">Save changes</button>
    </form>
</div>


{% endblock content %}